<footer id="contacto"
        class="w-full h-auto pt-4 pb-4 bg-primary text-center content-center">
    <section>


    
    </section>
    <section>
        <article class="flex flex-col gap-4 text-white">
            <a href="mailto:matronas360gmail.com" class="text-xl hover:text-primary-dark cursor-pointer visited:text-white visited:no-underline">matronas360&#64;gmail.com</a>
            <p>&copy; 2025 <span class="text-red">&#10084;</span> Matronas 360</p>
        </article>
    </section>
</footer>
