<footer id="contacto"
        class="flex flex-col items-center gap-2 w-full h-auto pt-4 pb-4">
  
    

        <section class="flex flex-col items-center gap-4 p-4">
            <p class="font-bold text-xl text-primary-dark">{{'DONDE_ESTAMOS' | translate}}</p>
            <section class="flex flex-col w-full gap-5 sm:flex-row">
                @for(location of locations; track $index) {
                    <article class="text-left w-fit">
                        <div class="flex">
                            <img class="w-5" src="/icons/location.svg" alt="icono localizacion">
                            <p class="text-primary-dark font-semibold">{{location.type | translate}}</p>
                        </div>
                        <p>{{location.center | translate }}</p>
                        <p>{{location.street | translate }}</p>
                        <p>{{location.city}}</p>
                        <div>
                            <!-- <label>{{location.time | translate }}</label> -->
                            <ul>
                                @for(day of location.schedule; track $index) {
                                    <li>
                                        {{day.day | translate}}: {{day.hours | translate}}
                                    </li>
                                }
                            </ul>
            
                        </div>
                    </article>
                }
            </section>
        
        </section>

        
            
        <article class="flex gap-4">
            <a class="self-center"
                href="https://www.instagram.com/matronas360?igsh=eXRveHA0ZQURL_ADDRESS0dTk0"
                target="_blank" 
                rel="noopener noreferrer">
                <img class="cursor-pointer w-[2.4rem]"
                    src="/icons/instagram.svg" 
                    alt="instagram icon">
            </a>
            <a href="mailto:matronas360gmail.com">
                <img class="w-12"
                src="/icons/email.svg" 
                alt="email icon">
            </a>
        </article>
        
    <hr class="w-[90%] mx-4 mt-4 text-primary-dark">

    <section class="flex flex-col gap-2 text-primary-dark">
        <p>{{'DERECHOS_RESERVADOS' | translate}}</p>
        <!-- <div class="flex gap-4 justify-center">
            <a class="underline" href="">{{'AVISO_LEGAL' | translate}}</a>
            <a class="underline" href="">{{'POLITICA_PRIVACIDAD' | translate}}</a>
        </div> -->
        <p class="flex justify-center">&copy; 2025 
            <img class="w-5 mx-1"
                src="/icons/matronas360-solo-logo.svg" 
                alt="matronas 360 logo"> 
            Matronas 360</p>
    </section>
</footer>
