<!-- ! TODO DEFER -->
<main class="flex flex-col gap-20">
    <header-hero />
    <section class="flex flex-col gap-24">
        <!-- <about-us /> -->
         <section id="servicios"
                class="flex flex-col gap-8">
                <div class="flex justify-center gap-5 px-4">
                    <div class="self-center h-px w-1/5 bg-primary-purple"></div>
                    <h1 [class]="customClasses.SECTION_TITLE">
                        {{'MENU_SERVICIOS' | translate}}</h1>
                    <div class="self-center h-px w-1/5 bg-primary-purple"></div>
                </div>
             <matronas360-services />
        </section>
        
        <section id="precios"
            class="flex flex-col gap-12">
            <div class="flex justify-center gap-5 px-4">
                <div class="self-center h-px w-1/5 bg-primary-purple"></div>
            <h1 [class]="customClasses.SECTION_TITLE">
                {{'MENU_PRECIOS' | translate}}</h1>
                <div class="self-center h-px w-1/5 bg-primary-purple"></div>
            </div>
            <matronas360-pricing />
        </section>
    </section>
</main>
