<section id="about-us"
    class="w-full h-fit pl-4 pr-4">
    <h2>{{'MENU_CONOCENOS' | translate}}</h2>
        <img class="w-full h-auto object-contain rounded-lg"
            src="images/beach-girls.webp" 
            alt="imagen matronas en la playa">
        <img class="w-full h-auto top-0 left-1/2 object-contain rounded-lg"
            src="images/beach-jump.webp" 
            alt="imagen matronas en la playa saltando">
        <p>
            {{'ABOUT_US' | translate}}
        </p>
</section>


