::ng-deep .highlight-word {
    color: #d3ab9e; /* Primary color */
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* .hero-text {
    animation: fadeIn 2s ease-out;
} */

.hero-text {
    line-height: 1.5;
    word-spacing: normal;
    letter-spacing: 0.2rem;
    opacity: 0;
    animation: fadeInUp 1.5s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hero-video {
    mask-image: 
        linear-gradient(
            transparent,
            black 2%,
            black 98%,
            transparent);
}