@if(isMobile()) {
    <div class="flex w-24 relative gap-2 ml-10 mt-10"
        (pointerdown)="toggleLanguageSelector()">
        <img class="w-11 min-w-11"
                src="/icons/language-selector.svg" 
                alt="selector idioma"
        >
        <p class="self-center text-xl">{{languageSelectionService.languageSelected()}}</p>
        @if(isLanguageSelectorOpened()) {
            <div class="open-dropdown flex flex-col items-start gap-3 absolute text-2xl top-full left-2/3">
                @if(languageSelectionService.languageSelected() === 'ES'){
                    <p (pointerdown)="setLanguage('CAT')">CAT</p>
                } @else {
                    <p (pointerdown)="setLanguage('ES')">ES</p>
                }
            </div>
        }

    </div>
} @else {
    <div class="flex gap-4 text-sm font-light text-primary-dark mr-8">
        <p class="cursor-pointer hover:text-primary"
            [ngClass]="{'underline': languageSelectionService.languageSelected() === 'CAT',
                'font-bold': languageSelectionService.languageSelected() === 'CAT',
                'text-primary': languageSelectionService.languageSelected() === 'CAT'}"
            (pointerdown)="setLanguage('CAT')">CAT</p>
        <p class="cursor-pointer hover:text-primary" 
            [ngClass]="{'underline': languageSelectionService.languageSelected() === 'ES',
                'font-bold': languageSelectionService.languageSelected() === 'ES',
                'text-primary': languageSelectionService.languageSelected() === 'ES'}"
            (pointerdown)="setLanguage('ES')">ES</p>
    </div>
}

