<section class="w-full h-fit flex flex-col gap-4 items-center pl-8 pr-8">

    <h1 [class]="customClasses.SECTION_TITLE">{{'AIPAP_TIERRA' | translate}}</h1>

    <article [class]="customClasses.AIPAP_ARTICLES">
        <h2 [class]="customClasses.AIPAP_TITLES">{{'AIPAP_TIERRA_INFO.TITULO_OBJETIVOS' | translate }}</h2>
        <div [class]="customClasses.AIPAP_CONTAINERS">
            @for(text of translatedLists().PARRAFOS_OBJETIVOS; track $index) {
                 <p>{{text}}</p>
            }
        </div>
        <p class="text-left pt-4">{{'AIPAP_TIERRA_INFO.TITULO_LISTA_OBJETIVOS' | translate }}</p>
        <div [class]="customClasses.AIPAP_CONTAINERS">
            <ul [class]="customClasses.AIPAP_UL">
                @for(li of translatedLists().LISTA_OBJETIVOS; track $index) {
                 <li [class]="customClasses.AIPAP_LI">{{li}}</li>
                 }
            </ul>
        </div>
    </article>


    <article [class]="customClasses.AIPAP_ARTICLES">
        <h2 [class]="customClasses.AIPAP_TITLES">{{'AIPAP_TIERRA_INFO.TITULO_PORQUE' | translate}}</h2>
        <div [class]="customClasses.AIPAP_CONTAINERS">
            @for(text of translatedLists().PARRAFOS_PORQUE; track $index) {
             <p>{{text}}</p>
            }
        </div>
         <h2 class="text-primary-dark font-normal pt-6 underline">{{'AIPAP_TIERRA_INFO.TITULO_BENEFICIOS_MAMA' | translate}}</h2>
         <div [class]="customClasses.AIPAP_CONTAINERS">
             <ul [class]="customClasses.AIPAP_UL">
                 @for(li of translatedLists().LISTA_BENEFICIOS_MAMA; track $index) {
                     <li [class]="customClasses.AIPAP_LI">{{li}}</li>
                 }
             </ul>
         </div>
         <h2 class="text-primary-dark font-normal pt-6 underline">{{'AIPAP_TIERRA_INFO.TITULO_BENEFICIOS_BEBE' | translate}}</h2>
         <div [class]="customClasses.AIPAP_CONTAINERS">
             <ul [class]="customClasses.AIPAP_UL">
                 @for(li of translatedLists().LISTA_BENEFICIOS_BEBE; track $index) {
                     <li [class]="customClasses.AIPAP_LI">{{li}}</li>
                 }
             </ul>
         </div>
    </article>

    <article [class]="customClasses.AIPAP_ARTICLES">
        <h2 [class]="customClasses.AIPAP_TITLES">{{'AIPAP_TIERRA_INFO.TITULO_IMPARTE' | translate}}</h2>
        <div [class]="customClasses.AIPAP_CONTAINERS">
            @for(text of translatedLists().PARRAFOS_IMPARTE; track $index) {
                <p>{{text}}</p>
            }
        </div>
    </article>

    
    <article [class]="customClasses.AIPAP_ARTICLES">
        <h2 [class]="customClasses.AIPAP_TITLES">{{'AIPAP_TIERRA_INFO.TITULO_EMPEZAR' | translate}}</h2>
        <div [class]="customClasses.AIPAP_CONTAINERS">
            <p>{{'AIPAP_TIERRA_INFO.PARRAFO_EMPEZAR' | translate }}</p>
        </div>
    </article>


</section>
