<section class="flex flex-col items-center gap-6">
    <div class="w-full flex flex-col gap-3 mb-4">
        <h2 class="text-2xl lg:text-3xl text-primary-dark font-medium">AIPAP</h2>
        <hr class="w-1/2 self-end text-primary-dark">
    </div>
    <p class="max-w-[30ch] italic text-xl lg:text-2xl text-balance">"{{'AIPAP_INFO' | translate}}"</p>

    <div class="flex justify-center flex-wrap">

        <article class="flex flex-col items-center mt-6 pl-4 pr-4 gap-8">
            <div class="relative flex justify-center items-center gap-4">
                <img class="aipap-agua-image opacity-80 
                min-w-[22rem] max-w-[22rem] md:min-w-[26.5rem] md:max-w-[26.5rem] lg:min-w-[32rem] lg:max-w-[32rem]
                h-auto aspect-[1/1] object-cover rounded-full"
                src="/images/aipap-agua-1.webp" alt="muejeres embarazadas flotando en el agua">
                <div class="flex flex-col absolute gap-5 font-medium text-white
                text-xl md:text-2xl lg:text-3xl 2xl:text-4xl">
                    <p>{{'AIPAP_AGUA_FRASE_1' | translate }}</p>
                    <p>{{'AIPAP_AGUA_FRASE_2' | translate }}</p>
                </div>
            </div>
            <a class="cursor-pointer self-center underline font-normal text-primary hover:text-primary-dark
                text-lg sm:text-lg lg:text-2xl"
                [routerLink]="['/aipap-agua']"
                (pointerdown)="router.navigate(['/aipap-agua'])"
                >{{'SABER_MAS' | translate }} {{'AIPAP_AGUA' | translate}}</a>
        </article>
    
        <article class="flex flex-col items-center mt-6 pl-4 pr-4 gap-8">
            <div class="relative flex justify-center items-center">
                <img class="aipap-tierra-image opacity-80 
                min-w-[22rem] max-w-[22rem] md:min-w-[26.5rem] md:max-w-[26.5rem] lg:min-w-[32rem] lg:max-w-[32rem]
                h-auto aspect-[1/1] object-cover rounded-full shadow-(0_0_15px_aipap-agua)"
                src="/images/aipap-tierra-1.webp" alt="muejer embarazada haciendo ejercicio en una esterilla">
                <div class="flex flex-col absolute gap-5 font-medium text-white
                text-xl md:text-2xl lg:text-3xl 2xl:text-4xl">
                    <p>{{'AIPAP_TIERRA_FRASE_1' | translate }}</p>
                    <p>{{'AIPAP_TIERRA_FRASE_2' | translate }}</p>
                </div>
            </div>
            <a class="cursor-pointer self-center underline font-normal text-primary hover:text-primary-dark
                text-lg sm:text-lg lg:text-2xl"
                [routerLink]="['/aipap-tierra']"
                (pointerdown)="router.navigate(['/aipap-tierra'])"
                >{{'SABER_MAS' | translate }} {{'AIPAP_TIERRA' | translate}}</a>
        </article>

    </div>
    <hr class="w-1/2 self-start mt-6 text-primary-dark">
</section>
