<header class="w-full h-screen flex flex-col gap-10 text-white bg-no-repeat bg-center bg-cover">
    <div class="flex justify-between items-end">
        <img class="min-w-16 w-16 mt-6 ml-7"
        src="/icons/matronas360-solo-logo.svg" 
        alt="logo empresa">
        <header-menu />
    </div>

    <img class="hero-image"
        src="/images/hero1.webp" 
        alt="imagen barriga mama">

    <div class="hero-text flex flex-col gap-2 mt-7">
        <h1 class="text-4xl pl-3 pr-3 text-primary-dark">
            {{'HERO_TEXT_TITULO' | translate}}</h1>
    </div>
    
</header>