<header class="w-full h-screen flex flex-col gap-10">
    
    <div class="flex justify-between items-end">
        <img class="min-w-16 w-16 md:w-24 lg:w-32  mt-6 ml-7"
        src="/icons/matronas360-solo-logo.svg" 
        alt="logo empresa">
        <header-menu />
    </div>
    
    <img class="hero-image"
        src="/images/hero1.webp" 
        alt="imagen barriga mama">

    <div class="hero-text">
        <h1 class="text-4xl pl-5 pr-5 text-primary-dark">
            {{'HERO_TEXT_TITULO' | translate}}</h1>
    </div>
    
</header>