@tailwind base;
@tailwind components;
@tailwind utilities;
/* ! BACKUP FONT */
@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito/Nunito-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}
  
@font-face {
    font-family: 'Nunito';
    src: url(/fonts/nunito/Nunito-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900; 
    font-style: normal;
}
  
@font-face {
    font-family: 'Montserrat';
    src: url(/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100 900;
    font-style: italic;
}
  

* {
    min-width: 0;
    font: inherit;
    margin: 0;
    padding: 0;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

img, video, svg {
    display: block;
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    min-height: 100dvh;
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
}

h1, 
h2, 
h3, 
h4,
h5,
h6 {
    text-wrap: balance;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

p {
    text-wrap: pretty;
}
